body {
    background-color: antiquewhite;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Roboto Mono', sans-serif;
}

h1, h2 {
    text-shadow: 1px 1px 8px #0B0B3B;
}

div {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    min-width: fit-content;
    font-size: 20px;
    margin-bottom: 80px;
}

p::first-letter {
    font-weight: bold;
}

.left {
    float: left;
}

.right {
    float: right;
}

figure {
    padding: 5px;
    background-color: aliceblue;
    border-style: double;
    border-color: royalblue;
    object-fit: cover;
    display: inline-block;
}

img {
    margin: auto;
    background-color: antiquewhite;
    display: block;
    padding: 1px;
    max-width: 200px;
    border-style: groove;
    border:5px, lightskyblue;
}

figure figcaption {
    text-align: center;
}

/*
https://w3bits.com/css-image-hover-zoom/
*/
.fade img {
    transition: transform .5s ease;
}

.fade:hover img {
    transform: scale(1.5);
}